@spacing-xl: 70px;
@spacing-l: 50px;
@spacing-m: 30px;
@spacing-s: 20px;
@spacing-xs: 10px;

@font-size-xl: 26px;
@font-size-l: 22px;
@font-size-m: 18px;
@font-size-s: 14px;
@font-size-xs: 10px;

.detailsContainer {
  margin-left: @spacing-l;
  text-align: left;
  width: 100%;
}

.articles {
  width: 1000px;
}

.article {
  display: flex;
  margin: @spacing-m;
}

.title {
  padding-bottom: @spacing-s;
  font-size: @font-size-xl;
  font-weight: bold;
  flex: 200 auto;
}

.date {
  font-size: @font-size-xs;
  align-self: center;
  flex: 1 auto;
}

.headerContainer {
  display: flex;
}

img {
  width: 250px;
  height: 170px;
}
