@spacing-xl: 70px;
@spacing-l: 50px;
@spacing-m: 30px;
@spacing-s: 20px;
@spacing-xs: 10px;

@font-size-xl: 26px;
@font-size-l: 22px;
@font-size-m: 18px;
@font-size-s: 14px;
@font-size-xs: 10px;

.detailsContainer {
  margin-left: @spacing-l;
  text-align: left;
  width: 100%;
}

.articles {
  flex: 1;
}

.article {
  display: flex;
  margin: @spacing-m;
}

.title {
  padding-bottom: @spacing-s;
  font-size: @font-size-xl;
  font-weight: bold;
}

.date {
  min-width: 100px;
  font-size: @font-size-m;
  align-self: end;
  margin-left: auto
}

.headerContainer {
  display: flex;
}

.articleImage {
  width: 250px;
  height: 170px;
}
