@import '../../../styles/index.less';

.sortingComponent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  grid-column-start: 2;
  justify-self: end;
  padding-right: 40px;
}

.sortingTitle {
  order: 1;
  font-style: italic;
  text-decoration: underline;
  font-size: @font-size-m;
  padding: @spacing-xs;
}

.sortingArrows {
  align-self: center;
}
