@import '../../../styles/index.less';

.sortingComponent {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-right: 40px;
}

.sortingTitle {
  order: 1;
  font-size: @font-size-m;
  padding: @spacing-xs;
}

.sortingArrows {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .sortingComponent {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(25%);
  }
}
